<html>
  <head>
    <title>quickvpn</title>
  </head>
  <body>
    <h1>QuickVPN</h1>
    <h3>Running instances ({{ linode_list | length }})</h3>
    <ul>
      {% for item in linode_list %}
      <li>
        {{ item.label }} - {% if item.status == "running" %}
        <a href="/{{ item.label }}/up">wireguard</a>
        <a href="/{{ item.label }}/dns">dns</a>
        <a href="/{{ item.label }}/kill">kill</a>
        {% else %} {{ item.status }} {% endif %} 
        {% if
        expiration_dict[item.label] != 0 %}- {{
        get_time_remaining(expiration_dict[item.label]) }} {% endif %}
      </li>
      {% endfor %}
    </ul>
    <h3>New instance</h3>
    <form action="/" method="post">
      <label for="region">Region:</label>
      <select name="region" id="region">
        {% for item in region_list %}
        <option value="{{ item.id }}">{{ item.id }}</option>
        {% endfor %}
      </select>
      <br />
      <label for="expiration">Expiration (hrs, 0 means never):</label>
      <input
        type="number"
        id="expiration"
        name="expiration"
        min="0"
        max="12"
        value="1"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
